In [2]:
import pandas as pd

In [3]:
dataFrame=pd.read_excel("maas.xlsx")

In [4]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  50.0      Satıs
2     Mehmet   200  30.0        NaN
3      Ahmet    50  10.0  Pazarlama
4      Atlas   150   NaN     Finans
5      Fatma   200  25.0      Hukuk

In [5]:
#naN nasıl sileceğim.
dataFrame.dropna()

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  50.0      Satıs
3      Ahmet    50  10.0  Pazarlama
5      Fatma   200  25.0      Hukuk

In [8]:
YeniDataFrame=dataFrame.dropna()

In [9]:
YeniDataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  50.0      Satıs
3      Ahmet    50  10.0  Pazarlama
5      Fatma   200  25.0      Hukuk

In [10]:
#peki bu yeni dataframe nasıl excel'e kaydedicem.
YeniDataFrame.to_excel("YeniDataFrame.xlsx")