In [ ]:
#Amaç:Bir excel dosyası oluşturduğumuzu ve bunlardan her birini süperkahramanlar(Tıpkı simpsonlar gibi) büyük indexi altında yaş-meslek şeklinde ayrı kolonlar oluşturuyoruz.
#kütüphaneleri import edelim

In [20]:
import pandas as pd
import numpy as np

ilkIndeksler= ["Avengers","Avengers","Avengers","DC","DC","DC"]

icIndeksler=["Iron Man","Black Widow","Captan America","Clark kent","Batman","Flash" ]

#bu iki indexlerin birleşimi yapmamız ve verileri birleştirmemiz gerekiyor.

In [21]:
#birlesmisIndeks=list(zip(ilkIndeksler,icIndeksler)) #normalde python'da bu şekilde birleştiririz. ve type istersek list verecektir.

In [22]:
birlesmisIndeks

[('Avengers', 'Iron Man'),
 ('Avengers', 'Black Widow'),
 ('Avengers', 'Captan America'),
 ('DC', 'Clark kent'),
 ('DC', 'Batman'),
 ('DC', 'Flash')]

In [23]:
birlesmisIndeks= pd.MultiIndex.from_tuples(birlesmisIndeks) #ancak burada pandas'ı multiple... tipini görebilirsin.

In [24]:
birlesmisIndeks

MultiIndex([('Avengers',       'Iron Man'),
            ('Avengers',    'Black Widow'),
            ('Avengers', 'Captan America'),
            (      'DC',     'Clark kent'),
            (      'DC',         'Batman'),
            (      'DC',          'Flash')],
           )

In [25]:
benimKarakterlerim=[[40,"A"],[10,"B"],[30,"C"],[9,"D"],[10,"E"],[11,"F"]] #tıpkı kolonlardaki gibi bir liste oluşturucaz.


cizgiFilmNumpyDizisi=np.array(benimKarakterlerim) #bu şekilde bir numpy dizisi oluşturuyoruz.

cizgiFilmDataFrame=pd.DataFrame(cizgiFilmNumpyDizisi,index=birlesmisIndeks,columns=["Yas","Meslek"]) #burada bir dataframe oluşturuyoruz.

In [26]:
cizgiFilmDataFrame

                        Yas Meslek
Avengers Iron Man        40      A
         Black Widow     10      B
         Captan America  30      C
DC       Clark kent       9      D
         Batman          10      E
         Flash           11      F

In [29]:
cizgiFilmDataFrame.loc["Avengers"]

               Yas Meslek
Iron Man        40      A
Black Widow     10      B
Captan America  30      C

In [30]:
cizgiFilmDataFrame.index.names=["FilmAdı","Karakter"] #indexlerimizi isimlendirelim.

In [32]:
cizgiFilmDataFrame

                        Yas Meslek
FilmAdı  Karakter
Avengers Iron Man        40      A
         Black Widow     10      B
         Captan America  30      C
DC       Clark kent       9      D
         Batman          10      E
         Flash           11      F