In [4]:
import numpy as np
import pandas as pd

In [5]:
#Farklı DataFrame birleştirme ve yanyana koyma işlemlerini göreceğiz.

In [12]:
sozluk1 = {"Isım": ["Ahmet","Mehmet","Zeynep","Atil"], "Spor" : ["Kosu","Yuzme","Kosu","Basketbol"], "Kalori": [100,200,250,150]}
sozluk2 = {"Isım": ["Osman","Levent","Atlas","Fatma"], "Spor" : ["Kosu","Yuzme","Kosu","Basketbol"], "Kalori": [100,200,250,150]}
sozluk3 = {"Isım": ["Ayse","Mahmut","Duygu","Nur"], "Spor" : ["Kosu","Yuzme","Badminton","Tenis"], "Kalori": [400,500,100,200]}

In [13]:
dataFrame1=pd.DataFrame(sozluk1,index= [0,1,2,3]) #indexleri şuanlık ileride artıcağım için yazdım.

In [14]:
dataFrame1

     Isım       Spor  Kalori
0   Ahmet       Kosu     100
1  Mehmet      Yuzme     200
2  Zeynep       Kosu     250
3    Atil  Basketbol     150

In [15]:
dataFrame2=pd.DataFrame(sozluk2,index=[4,5,6,7])

In [16]:
dataFrame2

     Isım       Spor  Kalori
4   Osman       Kosu     100
5  Levent      Yuzme     200
6   Atlas       Kosu     250
7   Fatma  Basketbol     150

In [17]:
dataFrame3=pd.DataFrame(sozluk3,index=[8,9,10,11])

In [18]:
dataFrame3

      Isım       Spor  Kalori
8     Ayse       Kosu     400
9   Mahmut      Yuzme     500
10   Duygu  Badminton     100
11     Nur      Tenis     200

In [ ]:
#peki şimdi bu üç dataFrame'i nasıl birleştiricez.

## concatenation

In [19]:
birlesmis=pd.concat([dataFrame1,dataFrame2,dataFrame3]) #parametrenin içine bir list yazmamız gerekiyor.

In [21]:
birlesmis

      Isım       Spor  Kalori
0    Ahmet       Kosu     100
1   Mehmet      Yuzme     200
2   Zeynep       Kosu     250
3     Atil  Basketbol     150
4    Osman       Kosu     100
5   Levent      Yuzme     200
6    Atlas       Kosu     250
7    Fatma  Basketbol     150
8     Ayse       Kosu     400
9   Mahmut      Yuzme     500
10   Duygu  Badminton     100
11     Nur      Tenis     200

## MERGE

In [22]:
mergeSozluk1 = {"Isım": ["Ahmet","Mehmet","Zeynep","Atıl"], "Spor" : ["Kosu","Yuzme","Kosu","Basketbol"]}
mergeSozluk2= {"Isım": ["Ahmet","Mehmet","Zeynep","Atıl"], "Kalori": [100,200,250,150]}

In [24]:
#sozlukleri dataFrame çevirme işlemi 
merge1DataFrame=pd.DataFrame(mergeSozluk1)
merge2DataFrame=pd.DataFrame(mergeSozluk2)

merge1DataFrame

     Isım       Spor
0   Ahmet       Kosu
1  Mehmet      Yuzme
2  Zeynep       Kosu
3    Atıl  Basketbol

In [25]:
merge2DataFrame

     Isım  Kalori
0   Ahmet     100
1  Mehmet     200
2  Zeynep     250
3    Atıl     150

In [26]:
#şimdi merge'leme işlemi
pd.merge(merge1DataFrame,merge2DataFrame, on="Isım") #on parametresi bu iki dataframe nereden bağlacayamızı gösteriyor

     Isım       Spor  Kalori
0   Ahmet       Kosu     100
1  Mehmet      Yuzme     200
2  Zeynep       Kosu     250
3    Atıl  Basketbol     150