In [1]:
#kendini tekrar etmeyen elemanları bulunduran iler operasyonlar yapacağız. ilk işlem olarak kütüphaneleri import etmek olacak.

import pandas as pd
import numpy as np

In [4]:
maasSozluk={"isim":["Mehmet","Ali","Ayşe","Fatma"],"Departman":["Yazılım","Satış","Pazarlama","Yazılım"],
"Maas":[200,300,400,500]}

In [5]:
#şimdi de bunu dataFrame çevirelim..

maasDataFrame= pd.DataFrame(maasSozluk)

In [8]:
maasDataFrame["Departman"] #eğer ben bunu unique olarak çağırırsam.(tekilleri getir anlamındadır.)

0      Yazılım
1        Satış
2    Pazarlama
3      Yazılım
Name: Departman, dtype: object

In [10]:
maasDataFrame["Departman"].unique()

array(['Yazılım', 'Satış', 'Pazarlama'], dtype=object)

In [11]:
#peki ben bunların sayıları alamaz mıyım ?

maasDataFrame["Departman"].nunique()

3

In [13]:
#ben bir kolondakinde hangisinden kaç tane var onu bile çağırabilirim .value_counts methodu ile

maasDataFrame["Departman"].value_counts()

Yazılım      2
Pazarlama    1
Satış        1
Name: Departman, dtype: int64

In [19]:
#şimdi ben hızlıca herkesin maaşını değiştirmek istiyorum bunu kısa yoldan nasıl yapabilirim.

def bruttenMaas(maas):
    return maas * 0.66

In [20]:
maasDataFrame["Maas"].apply(bruttenMaas)

0    132.0
1    198.0
2    264.0
3    330.0
Name: Maas, dtype: float64

In [21]:
#peki kaç tane boş değerim var mı diye bakabilir miydim ? 


maasDataFrame.isnull()

    isim  Departman   Maas
0  False      False  False
1  False      False  False
2  False      False  False
3  False      False  False